:global(.ant-layout) { background: #001529; }
:global(.ant-layout-header) { background: #001529; border-bottom: 1px solid rgba(255,255,255,.06); }
:global(.ant-layout-sider) { background: transparent; }
:global(.ant-layout-content) { background: transparent; }
